* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-white: #fff;
  --secondary-white: #ddd;
  --primary-black: #000;
  --background: #181818;
}

/*Inicio nav*/
.nav {
  background-color: var(--background);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: var(--secondary-white);
  padding: 20px;
}

.nav-list a:hover {
  color: var(--primary-white);
  text-decoration: underline;
}
/*Fim nav*/

.main {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #c5c5c7;
  background: url("./image/capaG3.jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-content {
  padding: 2rem;
  background: #000000c5;
  border-radius: 4px;
}

.title-main {
  color: var(--primary-white);
  font-size: 3rem;
}

.title-presentation {
  color: var(--primary-white);
  font-size: 2rem;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 35px;
}

.main a {
  text-decoration: none;
}

.btn-call-projects {
  color: var(--secondary-white);
  background-color: var(--primary-black);
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.8s;
}

.btn-call-projects:hover {
  transform: scale(0.9);
}
/* fim main */

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-white);
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-content {
  max-width: 50%;
  padding-right: 40px;
}

.about-title-content {
  font-size: 2rem;
  margin-bottom: 14px;
}
.about-text {
  color: var(--primary-black);
}

#img-about {
  max-width: 380px;
  border-radius: 50%;
  border: 2px solid var(--secondary-white);
}

/* fim about  */

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}
.projects-title {
  font-size: 2rem;
}
.title-subtext {
  font-style: italic;
  font-size: 19px;
  margin-top: 5px;
}

.project-title-content {
  font-size: 2rem;
  margin-bottom: 8px;
  margin-top: 20px;
}

.project-list {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img-project-list {
  width: 360px;
  max-width: 400px;
  height: 450px;
  max-height: 450px;
  display: grid;
  justify-items: center;
  align-content: center;
  background: var(--background);
  border-radius: 4px;
  border: solid 2px #a3a3a3;
  margin: 5px;
}

.project-img {
  box-shadow: rgba(233, 228, 231, 0.4) 0px 5px,
    rgba(249, 243, 247, 0.3) 0px 10px, rgba(233, 233, 233, 0.2) 0px 15px,
    rgba(241, 241, 241, 0.1) 0px 20px, rgba(227, 222, 225, 0.05) 0px 25px;
  width: 15rem;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border-radius: 4px;
  transition: 0.9s;
}

.project-img:hover {
  transform: scale(1.1);
}

.project-list-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2px;
  position: relative;
  top: 3.5rem;
}

.img-icon {
  width: 35px;
  height: 35px;
}

.container-project-description {
  display: grid;
  justify-items: center;
  margin-top: 100px;
  gap: 8px;
}

.description-project {
  color: var(--primary-white);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.btn-view-project {
  width: 100px;
  background-color: var(--primary-white);
  color: var(--primary-black);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 9px;
  transition: 0.9s;
}

.btn-view-project:hover {
  transform: scale(0.9);
}

/* fim seçao projetos */

.footer {
  width: 100%;
  background-color: var(--background);
  color: var(--primary-white);
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.developer-name {
  margin-left: 12px;
}
